---
interface HighlightItem {
  title: string;
  description: string;
}

export interface Props {
  items: HighlightItem[];
}

const { items } = Astro.props;
import { siteConfig } from "../config/main_siteConfig";
---

<section class={`${siteConfig.theme.highlight.section}`}>
  {items.map((item, index) => (
    <div>
      <h3 class={`${siteConfig.theme.highlight.title}`}>{item.title}</h3>
      <p set:html={item.description}></p>
    </div>
  ))}
</section>
